.form-control {
    border: 1px solid #c9c8c8;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #ffffff;
   /*  background: rgba(255,255,255,0.4); */
}
.sidebar .nav.sub-menu .nav-item .nav-link.active:hover{
   background: rgba(255,255,255,0.4);
}
.nav-item.active:has(> .sidebar .nav.sub-menu .nav-item .nav-link.active) {
	background: red; 
}
img.profile_img {
    width: 100px;
    border-radius: 50%;
}
ul#v-pills-tab li.active {
    background: #37afff;
}
ul#v-pills-tab li.active a {
    color: #fff;
}
.btn.btn-outline-secondary.btn-block.btn-sm {
    background-color: #ddd;
    color: #000;
}
.p-r-10{
	padding-right:5px
}
.m-t-5 {
    padding-top: 10px;
}
.sidebar .nav .nav-item {
    padding: 0rem;
}
.nav-profile-image img {
    width: 45px;
}
.file-field input[type=file] {
    position: absolute;
    top: -40;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-outline-secondary.btn-block.btn-sm.float-left {
    background-color: #007bff;
    color: #fff;
}
.content-wrapper {
    background:#e7f2fb!important;
    padding: 1rem;
}
li.nav-item.active {
	border-left: 3px solid #37AFFF;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #FFF;
}
.sidebar .nav .nav-item.active > .nav-link i {
    color: #fff;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
   color: #000;
}
.nav-profile-text.d-flex.flex-column {
    padding:0.4rem 1rem;
}

.red{
	color:#f30000;
}
.green{
	color:#1e9e1e;
}
.panel-body {
    padding: 10px 20px;
}
.panel-heading {
    background-color: #D4EEFF;
    padding: 7px 10px;
}
.panel{
	margin-bottom:10px
}
h4.modal-title.heading-strip {
    width: 100%;
}
.navbar.default-layout-navbar, .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center {
    background:#053863;
	padding: 0px!important;
	height: 60px;
}
.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #64b5f6;
   	white-space: normal;
   	 padding: 0.75rem 2rem 0.75rem 2rem!important;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #ffffff;
}
ul.navbar-nav.navbar-nav-right, .navbar.default-layout-navbar .navbar-menu-wrapper {
    height: 60px;
}
i.mdi.mdi-bell-outline {
    color: #fff;
}
.nav-profile-text {
    color: #fff;
}
.prof a{
	padding:0px!important
}

.nav-profile-text.d-flex.flex-column {
    color: #FFF;
}
.page-body-wrapper{
	    padding-top: 60px;
}
.div1{
	width:15px;
	height:15px
}
.white-box2 {
    padding: 1rem!important;
    margin-bottom: 10px;
    background-color: #fff;
}
a:hover{
	text-decoration:none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table th, .table td {
    padding: 0.5rem;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.close1{
    background-color: red!important;
    color: #fff;
    padding: 0px 6px!important;
    font-weight: unset!important;
	opacity:1;
}
.close:focus, .close:hover {
    color: #fff!important;
    opacity: 1!important;
}
.successMSG{
	max-width:250px!important;
	margin-top:10rem;
}
.successMSG .modal-content{
	background-color: #dafbf1!important;
}
.modal-content{
	background-color:#fff
}

.errMSG{
	max-width:250px;
	margin-top:10rem;
}
.modal-dialog.common {
    min-width: 85vw;
   	margin-top: 230px;
}
.common .modal-body {
    padding: 10px 25px;
}
.errMSG .modal-content{
	background-color:#ffecec!important;
	margin-top: 15vh;
}
.errmsgheading {
    color: #ed828f;
    font-weight: 500;
}
.header-strip{
	background-color: #FFF;
    border-top: 2px solid #0981e0;
    padding: 0px 30px;
    margin-top:2rem;
}
h4.heading-strip{
	font-weight:400;
	color:#7b7b7b
}
.panel-kredily{
	background-color:#283655
}
.panel-kredily h4{
	color:#fff;
}
.heading_purchase{
	background-color:#283655;
}
.heading_purchase h4{
	color:#fff;
	font-weight:500;
	text-align:center
}
.panel{
	border:1px solid #ddd;
	text-align:left
}
#msform input[type='text'], #msform textarea, select {
    margin-bottom: 10px;
}
#msform input[type='text'], select, input {
	height:45px!important
}
.footer {
    background: #f7f7f7;
    padding: 15px 1rem;
}
.bread{
	background-color: #fff;
    padding: 10px 20px;
  	margin-top:-10px
}
.breadbtn{
	margin-top:-12px
}
.btn-info, .btn-info.disabled, .btn-info:hover, .btn-inverse-info:hover {
    background: #03a9f3;
    border: 1px solid #03a9f3;
}
select.form-control {
    padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid #c9c8c8;
    color: #c9c8c8;
}
tbody.fc-body {
	min-height:unset;
}
.fade:not(.show){
	opacity: 1;
    background-color: rgba(0,0,0,0.3);
}
.tab-pane.fade:not(.show) {
    background-color: #fff!important;
}
.nav.nav-pills {
    margin-bottom: 20px;
}
.nav-pills li.nav-item {
    width: 25%;
}
.nav-pills li.nav-item a.nav-link {
    background-color: #03a9f3;
    margin-right: 10px;
    color: #fff;
    text-align: center;
}
.nav-pills li.nav-item.active .nav-link {
    background-color: #ffffff;
    margin-right: 10px;
    color: #000;
    text-align: center;
    box-shadow: inset 0px 0px 5px #000;
}
.nav-pills li.nav-item.active {
    border-left: none;
}
.collapse.in:not(.show){
    display: block;
}
li.nav-item.nav-profile.dropdown.open .dropdown-menu {
    display: block;
}
input[type='file'] {
    border: none;
}
li.nav-item.dropdown.open .dropdown-menu {
    display: block;
}
span.badge.badge-success {
    margin-top: 1px;
}
div#example_info {
    margin-top: 10px;
}
select, input {
    border: 1px solid #ebedf2;
}
tbody {
    max-height: 90vh;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: button;
}


/*table heading fixed*/
 .normalscroll tbody {
    display:block;
    max-height:300px;
    overflow:auto;
    font-family: 'Lato', sans-serif;
}
.subnormalscroll tbody{
	display: block;
    max-height: unset;
    overflow-y: -webkit-paged-y;
}
.normalscroll thead, .normalscroll tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.normalscroll thead {
	 width:100%;
}
 .normalscroll thead th, .normalscroll tbody td{
	width:auto;
	text-overflow: ellipsis;
	white-space:normal!important;
	
}
.normalscroll tbody::-webkit-scrollbar {
	width:4px;
	position:absolute!important;
} 
.normalscroll tbody::-webkit-scrollbar-thumb {
    background: #888!important;
}
.normalscroll tbody::-webkit-scrollbar-button  {
    background: #eee;
}
.normalscroll tbody::-webkit-scrollbar-track {
    background: #eee;
} 
/* modal top*/
.normalmodal{
	margin-top:10rem;
}

a.toggle-collapse i {
    color: #fff;
    border: 1px solid #b5b4b4;
    padding: 4px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px #fff;
	cursor:pointer;
}
a.toggle-collapse{
	margin-left:5px
}

input[type="search"]:focus {
    border: 1px solid #aaaaaa;
}
a#example_first, a#example_last {
    background-color: #198ae3;
    color: #fff;
    padding: 10px;
    margin: 5px;
	cursor:pointer
}
a.paginate_button {
   background: #03a9f3;
    color: #fff;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
}
td.col-md-2 {
    padding: 5px 0px;
    
}
th,td{
	white-space: normal;
    word-break: break-word;
}
tbody {
    border-bottom: 1px solid #ebedf2;
}
div#searchrow {
    z-index: 101;
    position: relative;
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
}
div#example_length label {
    position: absolute;
    margin-top: 9px;
    z-index: 100;
}
div#example_filter {
    float: right;
    /* position: absolute; */
    margin-top: 10px;
    width: 98%;
    z-index: 99;
	margin-bottom: 15px;
}

div#example_paginate {
    text-align: right;
}
a.nav-link{
	word-wrap:break-word;
	word-break:keep-all;
}
.nav-link span.menu-title {
    display: block;
    width: 100%;
    word-wrap: break-word;
    word-break: keep-all;
}
div#container1 {
    height: 100%;
}
i.menu-arrow {
    display: block;
    float: right;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
    color: #ffffff!important;
}
/* new sidebar css*/
.sidebar .nav .nav-item.active {
      background: rgba(255,255,255, 0.5);
      color:#fff
}
.sidebar .nav .nav-item:hover {
    background: transparent;
}

.sidebar .nav .nav-item .nav-link:hover {
    background: rgba(255,255,255, 0.5);
   /*  border-left: 3px solid #37afff; */
}
.sidebar .nav.sub-menu .nav-item .nav-link:before {
   left: 10px;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow{
	color:#fff
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
    color: #fff;
}
.sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.95rem;
    color: #ffffff;
}
.sidebar{
	background:url(http://www.tenzing.com/wp-content/uploads/2013/10/solution-sidebar-background.jpg);
	background-size: cover;
 	height: 100vh;
 	background-repeat: no-repeat;
    overflow-y: scroll;
   	position: fixed;
   	width:252px;
}
.main-panel {
    margin-left: 18.5%;
    width: calc(100% - 252px);
}
span.hide-menu {
    word-wrap: break-word;
    word-break: keep-all;
    width: 155px;
    white-space: normal;
    display: inline-block;
}
.normalscroll tbody td {
    font-size: 13px;
}
.card .card-body {
    padding: 2.5rem 1rem;
}
.form-group {
    margin-bottom: 1rem!important;
}
.collapse {
    height: unset!important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    height: 20!important;
}
select.form-control {
   color: #000000;
}
@media (min-width: 576px){
	.errMSG.modal-dialog {
		max-width: 250px!important;
		margin: 30px auto;
	}
}
@media (max-width: 767px) {
  .whitebox1, #container1{
		height:95%
	}
	g#ac_layer_w {
		display: none;
	}
	g#ac_layer_11 {
		display: none;
	}
	.errMSG, .successMSG {
		margin-left: 55px;
	}
	div#searchrow {
		z-index: 101;
		position: relative;
		width: 100%;
		margin-top: 10px;
		margin-left:0px;
	}
	.card .card-body {
	    padding: 2.5rem 1rem;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .p-5 {
	    padding: 1.5rem!important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.modal-dialog.common {
	    min-width: 90vw;
	    margin-top: 365px;
	}
}
